//Establish variables!

$color1: #ed6a5a; //rgba(237, 106, 90, 100)
$color2: #f4f1bb; //rgba(244, 241, 187, 100)
$color3: #575761; //rgba(155, 193, 188, 100)
$color4: #5ca4a9; //rgba(92, 164, 169, 100)
$color5: #e6ebe0; //rgba(230, 235, 224, 100)
$serif-font: 'Quattrocento', serif;
$sans-serif-font: 'Raleway', sans-serif;


body {
  background-color: #2c2c2c;

}

.colors {
  div {
    width:100px;
    height:100px;
    border-radius:50%;
    float:left;
    display:flex;
    align-items: center;
    justify-content: center;
    border:1px solid white;
    margin:2px;
  }

  .circle1 {
    background-color: $color1;
  }
  .circle2 {
    background-color: $color2;
  }
  .circle3 {
    background-color: $color3;
  }
  .circle4 {
    background-color: $color4;
  }
  .circle5 {
    background-color: $color5;
  }

}


h1, h2, h3 {
  font-family: $serif-font;
  color: $color5;
  margin:10px auto;
  text-align: center;
}

h1 {
  font-size:4em;
}

h2 {
  font-size:3em;
}

h3 {
  font-size:1.5em;
}

.lists {
  background-color:$color5;
  color:$color3;
  width:60%;
  padding:10px;
  box-sizing: border-box;

  h3 {
    color:$color3;
    letter-spacing: 1.5px;
    margin-left:15px;
    text-align: left;
    margin-top:5px;

  }

  ul {
    margin:0 auto;
    display:flex;
    flex-direction: column;
    width:60%;
  }

  li {
    list-style-type: none;
    padding:5px;
    margin:1px;
    transition: all ease 500ms;

    &:nth-child(odd){
      background-color: $color4;
      color:$color5;
    }

    &:hover{
      background-color: $color1;
      color:$color5;
    }
  }


  .labelInfo {
    height:250px;
    width:250px;
    background-image:url('http://www.placecage.com/250/250');
    float:left;
    margin-right: 10px;

    &:after {
      clear:both;
    }
  }

  .backButton {
    background-color:$color1;
    color:$color5;
    width:50px;
    border-radius: 10%;
    padding:5px;
    text-align: center;
    float:right;
    align-self: flex-end;
    transition: all ease 500ms;

     &:hover {
       background-color: $color4
     }

     &:after {
       clear:both;
     }
  }
}

.images {
  height:95vh;
  width:100%;
  margin:0px;
  padding:15px;
  background-color:$color5;
  box-sizing: border-box;
  display:flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap:wrap;
  overflow: scroll;

  .previewObject {
    display:flex;
    text-align: center;
    align-items: center;
    margin:20px;
    flex-direction: column;
    width:20%;

    h3 {
      color:$color3;
      clear:both;
    }
  }

  div .preview{
    display:flex;
    align-items: center;
    justify-content: center;
    font-family:$sans-serif-font;
    font-size:2em;
  }

  .preview {
    margin:5px;
    height:200px;
    width:200px;
    float:left;
    transition: all ease 500ms;
    box-shadow: 0 5px 5px $color3;
    margin-bottom:15px;
    -webkit-filter:grayscale(100%);



    &:hover {
      height:225px;
      width:225px;
      background-color:$color4;
      -webkit-filter:grayscale(0%);;
    }

  }
}

.landing {
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  background-image:url('https://images.unsplash.com/photo-1453282716202-de94e528067c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=ac9b38e57a8a0724058cdcbe6a687aa8');
  // https://images.unsplash.com/photo-1437326516294-01d0da392e11?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=5fd871029d3b4011e04f09d533fea68e
  background-size: cover;
  height:95vh;
  width:100%;
  // transition: all ease 1s;ß

  h1,h2 {
    text-shadow: 2px 2px $color3;
  }

  form {
    width:40%;
    margin-top:20px;

    input[type=text] {
      border-radius: 5%;
      width:100%;

    }
  }
}

.navbar {
  width:100%;
  height:5vh;
  font-family:$serif-font;

  ul {
    color:$color5;
    height:100%;
    margin:0;
    overflow: hidden;
    flex-flow:row;


    li {
      display: inline-flex;
      align-items: center;
      height:100%;
      font-size:1.25em;
      padding:0 2rem;
      transition: all ease 500ms;
      margin:0;

      &:hover {
        background-color:$color1;
        cursor: default;
      }
    }
  }



}

.backButton {
  
  align-self: flex-end;
}
